.intro {
	background: var(--color-theme-highlight-block);
	position: relative;

	&__summary {
		position: relative;
		--flow-space: #{get-size(500)};
		font-size: get-size(500);

		a {
			color: currentColor;

			&:hover {
				text-decoration: none;
			}
		}

		//h3 {
			//   max-width: 40ex;
		//}

		h3 {
			max-width: 90%;
			//   max-width: 55ex;
		}

		p {
			max-width: 93%;
		}
	}

	#avatar {
		position: absolute;
		bottom: -2.8rem;
		right: 0%;
		width: 30%;
	}

	&__heading {
		max-width: 40ex;
		color: var(--color-theme-feature-text);

		&--compact {
			max-width: 100%;

			// max-width: 20ex;
			&:after {
				content: ' Passionate about Creating Inclusive Web Experiences';
				position: relative;
				display: inline;
				color: #A8D0E6;
				// font-size: 75%;
			}
		}
	}
}