<header class="[ intro ] [ pad-top-900 pad-bottom-max ]">
	<div class="[ inner-wrapper ] [ sf-flow ]">
		<h1 class="[ intro__heading{{ ' intro__heading--compact' if page.url === '/' }} ] [ text-800 md:text-900 leading-tight ] [ p-name ]">{{ introHeading }}</h1>
		{% if introSummary %}
			<img src="/images/avatar-no-bg.svg" class="avatar" alt="" loading="lazy" width="559" height="340">
			<div class="[ intro__summary ] [ sf-flow ] [ leading-mid measure-short ]">
				{{ introSummary | safe }}
			</div>

			<script>
				let master = gsap.timeline();

				function init() {
					gsap.set("img.avatar", {right: "-100%"});
					gsap.to("img.avatar", {
						duration: 1,
						right: "0%",
						ease: "back(1)"
					});
				}
				init();
			</script>
		{% endif %}
	</div>
</header>